/* #DEFAULT (Mobile First - Default Settings in the CSS Above) */
/* #NARROW (Protrait Mobile Only Overrides) */  $break-narrow: "(orientation: portrait)";
/* #SMALLER - (Small Mobile Only Overrrides) */ $break-smaller: "only screen and (max-width: 375px)";
/* #SMALL- (Mobile Only Overrides) */ $break-small: "only screen and (max-width: 767px)";
/*#MEDIUM+ (Tablet)*/  $break-medium: "only screen and (min-width: 768px)";
/*#LARGE+ (Desktop)*/ $break-large: "only screen and (min-width: 1025px)";
/*#EXTRALARGE+ (Desktop+)*/ $break-larger: "only screen and (min-width: 1440px)";
/*#HDEXTRALARGE+ (Desktop+)*/ $break-extra-larger: "only screen and (min-width: 1990px)";

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

* {
  position: relative;
}


$filson-soft: "filson-soft",sans-serif;
$filson-pro: "filson-pro",sans-serif;
$salmela: "salmela",cursive;
$merriweather: "merriweather",serif;


body {
  font-family: $filson-pro;
  font-weight: 400;
  color: #333;
  font-size: 87.5%;
  /* 14px; */
  line-height: 1.625em;
  /* 14px x 1.624em = 22.75px */
  text-align: center;
}


h1, h2, h3, h4, h5, h6 {
  margin: .5em 0;
}

h1 {
  font-family: $filson-soft;
  font-weight: 800;
  font-size: 2.8em;
  /* 80px / 24px = 3.3em */
  line-height: 1.25em;
}

.h1-bg {
  display: block;
  color: white;
  padding: 1em 1em;
}

h1.bg {
  display: inline-block;
  margin-left: -5%;
  margin-right: -5%;
  @media #{$break-medium} {
    margin-left: -50%;
    margin-right: -50%;
    white-space: nowrap;
    br {
      display: none;
    }
  }
}

h1.bg:before{
  content: "";
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  width: 100%;
  height: 100%;
  background: url("img/heading-bg.png");
  background-repeat: no-repeat;
  background-position: center right .5em;
  background-size: calc(100% - 1em) 80%;
  z-index: -1;
  @media #{$break-small} {
    background: url("img/heading-bg2.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: calc(100% - 1.5em);
    background-size: contain;
    margin: auto;
  }
}

p {
  margin: 0 0 .5em 0;
}

em {
  font-family: $salmela;
  bottom: .15em;
  color: #FDB73C;
  font-style: normal;
}

.title {
  display: block;
  font-family: $filson-soft;
  color: #F26B43;
  font-weight: 700;
}

.measure {
  display: block;
  font-family: $merriweather;
  font-size: .75em;
  color: #4F3232;
  font-weight: 100;
  /* 18pt / 24 pt = .75em*/
}

img.logo {
  font-family: "sail",sans-serif;
  text-transform: lowercase;
}


img.scale-with-grid, .scale-with-grid img {
  max-width: 100%;
  height: auto;
}


button:hover, .btn:hover {
  cursor: pointer;
}

a[type=button], button.round, .lSAction a{
  opacity: 1;
  background-color: rgba(#000000, 0);
  background-image: url("img/btn-bg.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  color: white;
  border: none;
  padding: 1em;
  img {
    width: 4em;
    transform: translateY(.1em);
    @media #{$break-medium} {
      width: 2em;
    }
  }
  &#to-left, &.lSPrev {
    float: left;
  }
  &#to-right, &.lSNext {
    float: right;
    transform: scaleX(-1);
    filter: FlipH;
  }
}
.lSAction {
  position: absolute;
  left: calc(-4% - 1em); right: calc(-4% - 1em); top: calc(50% - 4em); bottom: 0;
  margin: auto auto;
}

body {
  background-color: #F5F2EF;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  max-width: 848px;
  margin: 0 auto;
  padding: 0 4%;
  &.full {
    width: 92%;
  }
}

section {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin-bottom: 2em;
}

@media #{$break-small} {
  section {
    line-height: 1.7em;
  }
}

@media #{$break-medium} {
  body {
    font-size: 100%;
  }
}

@media #{$break-large} {
  body {
    font-size: 112.5%;
  }
  .container{
    width: 42%;
    &.full {
      width: 80%;
    }
  }
}

@media #{$break-larger} {
  body {
    font-size: 150%;
  }
  .container {
    max-width: 1715px;
  }
}

header.site-header {
  color: #033333;
  width: 100%;
  min-height: 100vh;
  // height: 100%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;

  &:before{
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1.25em solid white;
    background: url("img/coffe-and-seed.png"), url("img/square-berry.png"); background-repeat: no-repeat;
    background-size: 32% auto , 25% auto;
    background-position: left -1.5em bottom 30%, right -1.5em top 40%;
    z-index: -2;
    @media #{$break-narrow}, #{$break-small} {
      background-size: 44% auto , 42% auto;
      background-position: left -40% bottom 8%, right -.75em top -2.5em;
    }
    @media #{$break-extra-larger} {
      background-size: 667px auto, 510px auto;
    }
  }

  &:after{
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: url("img/rapberry-pic.png"), url("img/banana-pic.png"); background-repeat: no-repeat;
    background-size: 31% auto , 39% auto;
    background-position: left -1.5em top -.75em, right -4.5em bottom .5em;
    @media #{$break-narrow}, #{$break-small}{
      background-size: 42% auto , 57% auto;
      // background-position: right -3.7em bottom .5em, left -1em top -1em;
      background-position: right -3.7em bottom .5em, left -1em top -1em;
    }
    @media #{$break-extra-larger} {
      background-size: 627px auto , 778px auto;
    }
    z-index: -1;
  }

  .container {
    font-size: 1.5em;
    margin:auto;
    font-weight: 100;
    max-width: 622px;
    img {
      width: 78%;
    }

    @media #{$break-small} and #{$break-narrow}{
      width: 74%;
      img {
        width: 88%;
        max-width: 200px;
      }
      h1 {
        margin-bottom: .3em;
      }
      #content-line {
        margin-top: 35%;
      }
    }

    @media #{$break-medium} {
      width: 38%;
    }

    @media #{$break-small} {
      margin-top: 35%;
      line-height: 1.5em;
    }

    @media #{$break-smaller} {
      margin-top: 45%;
    }
  }
}

#btl-line {
  img {
    width: 70%;
    filter: drop-shadow(2px 4px 16px rgba(0,0,0,0.2));
    @media #{$break-small} and #{$break-narrow}{
      width: 55%;
      white-space: nowrap;
      margin-top: 0;
    }
  }
  margin-top: 1em;
  margin-bottom: 0;
}

#about {
  height: 100%;
  min-height: 70vh;
  &:after{
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: url("img/coffe-and-seed2.png"), url("img/coffe-and-seed2.png");
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: left -10% top 25%, right -10% bottom;
    z-index: -2;
    @media #{$break-narrow} {
      background-size: auto 30%;
      background-position: left -100px top 25%, right -100px bottom;
    }
  }
}

#products {
  .container.full{
    width: 92%;
  }
}
.list-waraper {
  width: 95%;
  margin: auto;
  @media #{$break-small} and #{$break-narrow} {
    width: 100%;
    a[type=button], button.round, .lSAction a{
      background: none;
    }
    &:before {
      content: "";
      width: 110%;
      height: 0;
      padding-top: 110%;
      position: absolute;
      margin: auto -4%;
      top: 0; bottom: 0; left: 0; right: 0;
      background: url("img/circle-bg.png");
      background-size: contain;
      background-position: left center;
    }
  }
}

ul.product-list {
  .cS-hidden {
      height: 1px;
      opacity: 0;
      filter: alpha(opacity=0);
      overflow: hidden;
  }

  li {
    display: flex;
    justify-content:flex-end;
    flex-direction:column;
    align-items:center;
    height: 100%;
    img {
      align-self: center;
      max-height: 650px;
      padding-bottom: .75em;
      filter: drop-shadow(2px 8px 5px rgba(0, 0, 0, 0.1));
      @media #{$break-small} {
        max-height: 500px;
      }
    }
    &.six-pack img {
      margin: auto;
    }
  }
}

footer.site-footer {
  padding: 5em 0 2em;
  color: white;
  background: url("img/footer-bg.png");
  background-size: 100% auto;
  @media #{$break-narrow}{
    background-size: auto 100%;
  }
  h1 {
    font-family: $filson-pro;
    font-weight: 400;
    color: white;
    font-size: .875em;
  }
  p {
    font-size: .8em;
  }
  .copyright {
    text-align: right;
    position: relative;
    margin-top: 3em;
    @media #{$break-medium} {
      position: absolute;
      text-align: right;
      bottom: 0;
      right: 4%;
      margin: 0;
    }
  }
}

.logo-symbol {
  width: 5em; height: 5em;
  margin-bottom: 5%;
}
